
//TODO card вынести в общий стиль
.card {
  width: min(444px, 92vw);
  border-radius: 28px;
  background: var( --background-color);
  box-shadow:
          5px 5px 20px #001117,
          -5px -5px 20px #000d12;
;
  padding: 28px 24px 22px;
  position: relative;

  overflow: hidden;
  margin: 50px;
}
