.sm   { --w: 60px; --h: 30px; }
.md   { --w: 69px; --h: 32px; }
.lg   { --w: 55px; --h: 26px; }
.full { --w: 100%;  --h: 44px; }

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.background{
  background: #06344a;
  width: var(--w);
  height: var(--h);
  border-radius: 37px;
}

.background:has(.toggleState:checked) {
  background: #064a4a;
}

.labelText { margin-left: 16px; }

.toggle {
  isolation: isolate;
  position: relative;
  width: var(--w);
  height: var(--h);
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
          -8px -4px 8px 0 rgb(50 50 50 / 1),
          8px  4px 12px 0 rgb(25 25 25 / 1),
          4px  4px  4px 0 rgb(25 25 25 / 1) inset,
          -4px -4px  4px 0 rgb(50 50 50 / 1) inset;
}

.toggleState {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #262626;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
          -8px -4px 8px 0 rgb(25 25 25 / 1),
          8px  4px 12px 0 rgb(25 25 25 / 1);
}

.toggleState:checked + .indicator {
  transform: translate3d(25%, 0, 0);
}

.toggle:active .indicator {
  transition-duration: 0.2s;
}
