.card {
  width: min(444px, 92vw);
  border-radius: 28px;
  background: var( --background-color);
  box-shadow:
          5px 5px 20px #001117,
          -5px -5px 20px #000d12;
;
  padding: 28px 24px 22px;
  position: relative;
  overflow: hidden;
}

.header {
  position: relative;
  padding-bottom: 10px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: -11px -2px 0;
  justify-content: flex-start;
  color: #91a6b0;
}

.logoImg{
  max-width: 100px;
  height: 100px;
  margin-bottom: 25px;
}

.logoTitle{
 padding-left: 15px;
}

.body {
  display: grid;
  gap: 12px; }

.title {
  margin: 10px 9px 0;
  font-size:  var(--font-bold-16-size);
  }

.sub {
  margin: 10px;
  opacity: .7;
}

.field {
  --w: 100%; --h: 48px;
  width: var(--w); height: var(--h);
  position: relative; border-radius: 14px;
  background: var(--panel);

  box-shadow:
          inset 10px 10px 18px var(--dark),
          inset -10px -10px 18px var(--light);
}


.link {
  margin-top: 2px; opacity: .7; text-decoration: none; font-size: 13px;
}

.link:hover {
  opacity: .95;
}

.linkAlt {
  justify-self: start;
  margin: 6px;
  color: var(--secondary-text-color);
  font-size: var(--font-regular-9-size);
}

.wrapperHint{
  display: flex;
  align-items: center;
  padding:10px  15px;
}

.hint{
  padding: 0px 10px;
  font-weight: normal;
  opacity: .5;
  min-width: 135px;
  font-size:  var(--font-regular-9-size);
  cursor: pointer;

  &:hover {
    opacity: .9;
  }

}

.submitButtons{
  display: flex;
  gap: 20px;
  flex-direction: column;
}
